@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');*{
  font-family: 'Quicksand', sans-serif;
}
.App{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items:center;
      width:100%;
      margin-top:3em;
}
#write-todo{
  max-width:500px;
  width:90vw;
}


#submit-btn{
  display:none;
}

.todos-list{
  width:90vw;
  max-width:500px;
  margin-top:2em;
}